<a href="https://colab.research.google.com/github/fii-optim-lab/RO-AI-Training/blob/master/session01-Python-for-AI/01-Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python fundamentals

### Simple programs

In [1]:
1 + 1

2

In [2]:
20 + 80

100

In [3]:
a = 1
b = 2
print("a is", a)
print("b is", b)
c = a + b
print("c is", c)

a is 1
b is 2
c is 3

In [4]:
if a > b:
    print("a > b")
else:
    print("a < b")

a < b

In [5]:
n = 6
i = 1
prod = 1

while i < n:
    prod = prod * i
    i = i + 1

prod

120

In [6]:
n = 6
for i in range(n):
    print(i)

0
1
2
3
4
5

### Data types

In [7]:
a = 5
print(type(a))

<class 'int'>

In [8]:
a = 5.0
print(type(a))

<class 'float'>

In [9]:
a = '5'
print(type(a))

<class 'str'>

In [10]:
a = "I am a string"
print(type(a))

<class 'str'>

In [11]:
a = True
print(type(a))

<class 'bool'>

## Containers

### Lists

The simplest container is a Python `list`.

In [12]:
vec = [1, 2, 3]
vec

[1, 2, 3]

In [13]:
empty = []
empty

[]

Lists can have elements of different type

In [14]:
a_list = [1, 2, 2, 3.0, '5']
print(a_list)
print(type(a_list))

[1, 2, 2, 3.0, '5']
<class 'list'>

In [15]:
a_list[0]

1

In [16]:
a_list[0] = 0
print(a_list)

[0, 2, 2, 3.0, '5']

### Tuples

Tuples are similar to lists, but the elements are immutable.

In [17]:
a_tuple = tuple(a_list)
print(a_tuple)
print(type(a_tuple))

(0, 2, 2, 3.0, '5')
<class 'tuple'>

### Set

Sets have unique elements

In [18]:
a_set = {1, 2, 3, 4}
print(a_set)

{1, 2, 3, 4}

In [19]:
a_set = set(a_list)
print(a_set)
print(type(a_set))

{0, 2, 3.0, '5'}
<class 'set'>

### Dicts

Dictionaries are maps with unique keys. Each key has a corresponding value.

In [20]:
a_dict = {
    1: 'unu',
    'doi': 2,
    3.0: a_set
}
a_dict

{1: 'unu', 'doi': 2, 3.0: {0, 2, 3.0, '5'}}

In [21]:
print("Keys:\t", list(a_dict.keys()))
print("Values:\t", list(a_dict.values()))
print(type(a_dict))

Keys:	 [1, 'doi', 3.0]
Values:	 ['unu', 2, {0, 2, 3.0, '5'}]
<class 'dict'>

## Functions

In [22]:
def add_two_values(a, b):
    return a + b

add_two_values(5, 6)

11

In [23]:
def multiply(a: float, b: float) -> float:
    return a * b

multiply(4.0, 5.0)

20.0

In [24]:
multiply("AB", 2)

'ABAB'

## Classes

In [25]:
class Multiplier:
    def __init__(self, x):
        self.x = x 
    
    def multiply(self, y):
        return self.x * y

In [26]:
m = Multiplier(5)
print(m.multiply(10))
print(m.multiply(3))
print(m.multiply(0))

50
15
0

## Exercises

1. Find The greatest common divisor of two numbers

In [27]:
a = 3256
b = 84

2. Write a script that calculates how many vowels are in a string.

In [28]:
string = "I am a string with many vowels"

3. Write a function that validates if a number is a palindrome.

In [29]:
a = 123454321
b = 189871

4. Write a functions that determine the most common letter in a string. For example if the string is "an apple is not a tomato", then the most common character is "a" (4 times). Only letters (A-Z or a-z) are to be considered. Casing should not be considered "A" and "a" represent the same character

In [30]:
string = "an apple is not a tomato"

5. Write a function that counts how many words exists in a text. A text is considered to be form out of words that are separated by only ONE space. For example: "I have Python exam" has 4 words.

In [31]:
string = "I have Python exam"

6. Write a function to return a list of the first n numbers in the Fibonacci string

In [32]:
n = 10

7. Write a function that receives a list of numbers and returns a list of the prime numbers found in it.

In [33]:
vec = [121, 123, 127, 129, 13, 109, 15, 29]

8. Write a function that receives a string as a parameter and returns a dictionary in which the keys are the characters in the character string and the values are the number of occurrences of that character in the given text.

In [34]:
string = "WordWithManyLetters"